:root {
    font-size: 16px;
    --transitionSpeed: 0.2s;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu';
    color: white;
    background: #001220;
    overflow-x: hidden;
    text-align: center;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    padding: 0 10vw;
    padding-top: 100px;
}

#personalitySection {
    background-color: #062932;
}

#contact {
    background-color: #172447;
}

h1 {
    font-size: 5rem;
    margin: 0;
    z-index: 100;
}

h3 {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.pink {
    background: #C62368;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('../svg/layer1.svg')
}

.layer2 {
    background-image: url('../svg/layer2.svg')
}

.spikewave {
    background-image: url('../svg/spike-wave.svg')
}

.steps {
    background-image: url('../svg/steps.svg')
}

.belowSteps {
    background-image: url('../svg/belowsteps.svg')
}

.lastWave {
    background-image: url('../svg/bottomPageWave.svg')
}

#homeSlideText {
    color: #C62368
}

#homeSlideText::after{
    content: "|";
    animation: blink .75s step-end infinite;
}

@keyframes blink {
    from, to { color: transparent }
    50% { color: rgba(245, 245, 245) }
}

.pageOverlay {
    background: #000;
    opacity: 0.8;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2147483635;
}

.showImage {
    position: fixed;
    z-index: 2147483637;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shownImage {
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    border-radius: 25px;
    border: 1px solid #fff;
}

.showText {
    position: fixed;
    z-index: 2147483638;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.shownText {
    height: 90%;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #001220;
    text-align: left;
    font-size: 4vh;
    width: 90vh;
    max-width: auto;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #fff;
}

.shownText::after{
    content: "|";
    animation: blink .75s step-end infinite;
}

.navbar {
    position: fixed;
    transform: translateY(-100%);
    z-index: 100;
    width: 100%;
    transition-duration: var(--transitionSpeed);
}

.navcontainer {
    position: fixed;
    z-index: 101;
    width: 100%;
    height: 60px;
}

.navcontainer:hover .navbar {
    transform: translateY(0);
    background-color: #000f1b;
}

.navItems {
    margin: 10px 30px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbarLink {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition-duration: var(--transitionSpeed);
}

.navbarLink:hover {
    color: #C62368;
    cursor: pointer;
}

.skillsList {
    margin-top: 5rem;
    margin-bottom: 1rem;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skillsHeader {
    margin-bottom: 35px;
}

.skillsImg {
    width: 15rem;
    height: auto;
    border-radius: 25px;
    border: 1px solid #fff;
    transition-duration: var(--transitionSpeed);
}

.skillsImg:hover {
    transform: scale(1.25);
    border: 1px solid #C62368;
    cursor: pointer;
}

.skillsBtn{
    background: none;
    border: none;
}

.skillsContent {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    background-color: #000d16;
    width: 100%;
    height: 0;
    border-radius: 25px;
    margin-bottom: 5rem;
    transition: height var(--transitionSpeed) ease-out;
}

.skillsContentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.frontendBtn {
    background-color:#C62368;
    color: #fff;
    font-size: 1rem;
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    transition-duration: var(--transitionSpeed);
}

.frontendBtn:hover {
    cursor: pointer;
    opacity: 0.6;
}

.points {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.line {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skillsContentDivInnerContentImgSmall {
    width: auto;
    height: 5rem;
    margin: 0.5rem 0.5rem;
    border: 2px solid #fff;
    border-radius: 10px;
    transition-duration: var(--transitionSpeed);
}

.skillsContentDivInnerContentImgSmall:hover {
    border: 2px solid #C62368;
    cursor: pointer;
}

.skillsContentDivInnerContent {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.consisteSkillsInnerContent {
    justify-content: flex-start;
    column-gap: 1rem;
}

.icebergImg {
    width: auto;
    height: 12rem;
    margin: 10px 0;
    border: 2px solid #fff;
    border-radius: 25px;
    transition-duration: var(--transitionSpeed);
}

.icebergImg:hover {
    border: 2px solid #C62368;
    cursor: pointer;
}

.skillsContentDivInnerContentImg {
    width: auto;
    height: 12rem;
    margin: 10px 0;
    border: 2px solid #fff;
    border-radius: 25px;
    transition-duration: var(--transitionSpeed);
}

.skillsContentDivInnerContentImg:hover {
    border: 2px solid #C62368;
    cursor: pointer;
}

.salaireListItem {
    margin: 0;
    font-size: 2rem;
}

.personalitySectionContent {
    margin-top: 5rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.personalitySectionContentImg {
    border-radius: 25px;
    border: 1px solid #fff;
    min-width: 5rem;
    max-width: 15rem;
    transition-duration: var(--transitionSpeed);
}

.personalitySectionContentImg:hover{
    border: 1px solid #FFC62F;
    transform: scale(1.25);
    cursor: pointer;
}

.colorAnim {
    border: 5px solid #FFC62F;
    animation: ColorChange 5s infinite;
}

.colorAnim:hover {
    border: 5px solid #FFC62F;
}

@keyframes ColorChange {
    25% {border-color: #C62368;};
    50% {border-color: #25D366;};
    75% {border-color: #1AA7EC;};
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000f1b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition-duration: var(--transitionSpeed);
    background: #C62368;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #172447;
}

.contactDiv {
    margin-top: 5rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contactDivImg {
    border-radius: 25px;
    border: 1px solid #fff;
    min-width: 5rem;
    max-width: 15rem;
    transition-duration: var(--transitionSpeed);
}

.contactDivImg:hover{
    border: 1px solid #C62368;
    transform: scale(1.25);
    cursor: pointer;
}

.contactElement {
    width: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.contactElementButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #001220;
    outline: none;
    border: none;
    color: white;
    overflow: hidden;
    transition-duration: var(--transitionSpeed);
}

.contactElementButton:hover {
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
}


.contactElementIcon {
    position: relative;
}

.contactElementText {
    position: relative;
    font-size: 1.5rem;
    right: 1rem;
    white-space: nowrap;
}

button.whatsapp:hover {
    background-color: #25D366;
}

button.instagram:hover {
    background-color: #E1306C;
}

button.discord:hover {
    background-color: #7289DA;
}

button.gmail:hover {
    background-color: #1AA7EC;
}

button.snapchat:hover {
    background-color: #FFFC00;
}